body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: thistle;
}
input.auth-input {
  margin: 10px;
}
a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#title {
  color: white;
}

#everything {
  flex-flow: column;
}
#navbar {
  height: 80px;
}
#navbar a {
  color: white;
}

.main {
  display: flex;
  flex: 1 1 90%;
  height: calc(100vh - 80px);
  margin: 0;
}
.sidebar {
  width: 200px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}
.all-posts {
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: thistle;
  overflow-y: auto;
  width: -webkit-fill-available;
}
.edit-post {
  padding: 15px;
}
.post-item {
  flex: 0 0 30%;
  margin: 10px;
  align-content: flex-start;
}

.tag-item {
  margin: 0px 5px;
}

.tag-link a {
  color: white;
}

html {
  font-size: 0.45 rem;
}
#home {
  background-color: thistle;
  height: calc(100vh - 80px);
  text-align: center;
}
#home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home-content a {
  color: black;
  text-decoration: underline;
}
#home-content a:hover {
  color: blue;
}
#home-logo {
  height: 25vh;
  width: auto;
  padding: 10px;
  margin: 5px;
  min-height: 140px;
}
#auth-div {
  display: flex;
  height: calc(100vh - 80px);

  flex-direction: column;
  align-items: center;
}
div.auth-form {
  padding: 15px;
}
.auth-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  max-width: 400px;
}
.auth-input {
  width: 80vw;
  max-width: 375px;
}
#googleButton {
  width: 85vw;
  max-width: 400px;
  color: black;
}
@media (max-width: 1000px) {
  .post-item {
    flex: 0 0 47%;
    margin: 10px;
  }
}

@media (max-width: 875px) {
  .post-item {
    flex: 0 0 95%;
    margin: 10px;
  }
}
